/* Importing Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kaushan+Script&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Light theme Color */
  --color-text-primary: #1f2936;
  --color-text-placeholder: #798eae;
  --color-bg-primary: #f9fafb;
  --color-bg-secondary: #ececfd;
  --color-bg-sidebar: #ffffff;
  --color-border-hr: #e2e8f0;
  --color-hover-primary: #695cfe;
  --color-hover-secondary: #e2e2fb;
  --color-shadow: rgba(0, 0, 0, 0.05);
}

body {
  background: var(--color-bg-primary);
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 270px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  background: var(--color-bg-sidebar);
  border-right: 1px solid var(--color-border-hr);
  box-shadow: 0 3px 9px var(--color-shadow);
}

.sidebar .sidebar-header {
  display: flex;
  padding: 20px 18px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-border-hr);
}

.sidebar-header .header-logo {
  width: 46px;
  height: 46px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.sidebar-header .sidebar-toggle {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
  transition: 0.4s ease;
}

.sidebar-header .sidebar-toggle:hover {
  background: var(--color-hover-secondary);
}

.sidebar-header .sidebar-toggle span {
  font-size: 1.7rem;
}

.sidebar .sidebar-content {
  flex: 1;
  padding: 20px 18px;
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-text-placeholder) transparent;
}

.sidebar-content .search-form {
  min-height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 5px 0 20px;
  white-space: nowrap;
  background: var(--color-bg-secondary);
  transition: 0.4s ease;
}

.sidebar-content .search-form:focus-within {
  background: var(--color-hover-secondary);
}

.search-form input {
  border: none;
  background: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  margin-left: 15px;
  color: var(--color-text-primary);
}

.search-form span {
  color: var(--color-text-placeholder);
}

.search-form input::placeholder {
  color: var(--color-text-placeholder);
}

.sidebar-content .menu-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
}

.menu-list .menu-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
  padding: 12px 15px;
  border-radius: 8px;
  color: var(--color-text-primary);
  transition: 0.3s ease;
}

.menu-list .menu-link:is(:hover, .active) {
  color: #fff;
  background: var(--color-hover-primary);
}

.sidebar .sidebar-footer {
  padding: 20px 18px;
  white-space: nowrap;
  border-top: 1px solid var(--color-border-hr);
}

.sidebar-footer .theme-toggle {
  width: 100%;
  min-height: 48px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 0 15px;
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  background: var(--color-bg-secondary);
  transition: 0.3s ease;
}

.sidebar-footer .theme-toggle:hover {
  background: var(--color-hover-secondary);
}

.theme-toggle .theme-label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.theme-toggle .theme-label .theme-text {
  font-size: 1rem;
}

.theme-toggle .theme-toggle-track {
  height: 24px;
  width: 48px;
  position: relative;
  border-radius: 999px;
  margin-left: auto;
  background: #c3d1ec;
}

.theme-toggle-track .theme-toggle-indicator {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 18px;
  width: 18px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


